*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 181px;
    background-image: url(../img/baner.jpg);
    background-size: cover;
    background-position: center;
    
}

.portada{
    width: 100%;
    height: 700px;
    background-image: url(../img/fondo.jpeg);
}